<section class="about-section">
  <div class="container">
    <div class="row clearfix">
      <!--Content Column-->
      <div class="content-column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-column">
          <div class="sec-title">
            <div class="title"><h3>About Us</h3></div>
            <h2>
              We Are The Leader In <br />
              Software Development
            </h2>
          </div>
          <div class="text">
            We create tailored software solutions that meet your unique business
            needs, enhancing productivity and efficiency. We design and develop
            custom software solutions tailored to your business needs. From
            concept to deployment, our team ensures the software aligns
            perfectly with your operational requirements and goals.
          </div>

          <a href="about.html" class="theme-btn btn-style-three">Read More</a>
        </div>
      </div>

      <!--Image Column-->
      <div class="image-column col-md-6 col-sm-12 col-xs-12">
        <div
          class="inner-column"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <div class="image">
            <img src="https://i.ibb.co/vQbkKj7/about.jpg" alt="" />
            <div class="overlay-box">
              <div class="year-box">
                <span class="number">8</span>Years <br />
                Experience <br />
                Working
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
console.log();console.log();
<div class="we-are-block">
  <div id="about-us-section">
    <div class="about-us-image">
      <img
        src="./assets/img/imgE.jpeg"
        width="808"
        height="458"
        alt="Lobby Image"
      />
    </div>

    <div class="about-us-info">
      <h2>We are Digital Upgrade</h2>

      <p>
        We design and develop custom software solutions tailored to your
        business needs. From concept to deployment, our team ensures the
        software aligns perfectly with your operational requirements and goals.
      </p>

      <a href="#" title="About Us Button">ABOUT US</a>
    </div>
  </div>

  <div id="history-section">
    <div class="history-image">
      <img
        src="./assets/img/imgA.jpeg"
        width="951"
        height="471"
        alt="Building Pic"
      />
    </div>

    <div class="history-info">
      <h2>Preserving Local History</h2>

      <p>
        Founded in 2018, SarayaTech solutions was built on a passion for
        technology and a commitment to helping businesses thrive in a digital
        world. With a team of dedicated professionals, we offer innovative IT
        solutions that drive success. We offer talent, technology, and training
        solutions that drive transformation and enable you to achieve your
        business goals.
      </p>

      <a href="#" title="History Button">HISTORY</a>
    </div>
  </div>
</div>
