<!-- ========== ABOUT US SECTION ========== -->
<section
  id="about-us"
  class="about-us-bg section-common-space"
  style="
    background-image: url(http://northui.com/zim/img/about-us/about-bg.jpg);
  "
>
  <div class="container">
    <!-- ========== SECTION HEADER ========== -->
    <div class="section-header section-header-v2 text-center">
      <h2 class="section-title">Small teams. Big results.</h2>
      <p class="section-subtitle ft-fm-2">
        You’ll be working with a small, dedicated team built to fit the <br />
        needs of your project.
      </p>
    </div>
    <!-- //section-header -->

    <div class="tabbed-about-us tabbed-about-us-v2">
      <div class="row">
        <div class="col-sm-6">
          <!-- ========== NAV TABS ========== -->
          <ul class="tabs-nav" role="tablist">
            <li class="active" role="presentation">
              <a href="#web" aria-controls="web" role="tab" data-toggle="tab"
                ><span class="icon"><i class="fas fa-server"></i></span>Web
                Design</a
              ><span class="bgcolor-major-gradient-overlay"></span>
            </li>
            <li role="presentation">
              <a
                href="#print"
                aria-controls="print"
                role="tab"
                data-toggle="tab"
                ><span class="icon"><i class="fas fa-print"></i></span>Print
                Design</a
              ><span class="bgcolor-major-gradient-overlay"></span>
            </li>
            <li role="presentation">
              <a
                href="#development"
                aria-controls="development"
                role="tab"
                data-toggle="tab"
                ><span class="icon"
                  ><i class="fab fa-buromobelexperte"></i></span
                >Development</a
              ><span class="bgcolor-major-gradient-overlay"></span>
            </li>
            <li role="presentation">
              <a
                href="#branding"
                aria-controls="branding"
                role="tab"
                data-toggle="tab"
                ><span class="icon"><i class="far fa-building"></i></span
                >Branding</a
              ><span class="bgcolor-major-gradient-overlay"></span>
            </li>
            <li role="presentation">
              <a
                href="#marketing"
                aria-controls="marketing"
                role="tab"
                data-toggle="tab"
                ><span class="icon"><i class="fab fa-codiepie"></i></span
                >Marketing</a
              ><span class="bgcolor-major-gradient-overlay"></span>
            </li>
            <li role="presentation">
              <a
                href="#support"
                aria-controls="marketing"
                role="tab"
                data-toggle="tab"
                ><span class="icon"><i class="fas fa-headset"></i></span
                >support</a
              ><span class="bgcolor-major-gradient-overlay"></span>
            </li>
          </ul>
        </div>
        <!-- //.col-sm-6 -->

        <div class="col-sm-6">
          <div class="tab-content">
            <!-- ========== TAB PANE ========== -->
            <div role="tabpanel" class="tab-pane active" id="web">
              <div class="details-wrapper">
                <div class="details">
                  <p>
                    Webdesign ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam. quis nostrud
                    exercitation ullamco.
                  </p>
                  <p>
                    Laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore.eu
                  </p>
                </div>
                <!-- //details -->
                <div class="work-progress">
                  <div class="each-item">
                    <div
                      data-value="0.705"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">HTML</p>
                  </div>
                  <div class="each-item">
                    <div
                      data-value="0.50"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">WORDPRESS</p>
                  </div>
                  <div class="each-item">
                    <div
                      data-value="0.90"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">JAVASCRIPT</p>
                  </div>
                </div>
                <!-- //.work-progress -->
              </div>
              <!-- //.details-wrapper -->
            </div>
            <!-- //tab-pane -->

            <!-- ========== TAB PANE ========== -->
            <div role="tabpanel" class="tab-pane" id="print">
              <div class="details-wrapper">
                <div class="details">
                  <p>
                    Print Design ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam. quis nostrud
                    exercitation ullamco.
                  </p>
                  <p>
                    Laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore.eu
                  </p>
                </div>
                <!-- //details -->
                <div class="work-progress">
                  <div class="each-item">
                    <div
                      data-value="0.705"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">HTML</p>
                  </div>
                  <div class="each-item">
                    <div
                      data-value="0.50"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">WORDPRESS</p>
                  </div>
                  <div class="each-item">
                    <div
                      data-value="0.909"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">JAVASCRIPT</p>
                  </div>
                </div>
                <!-- //.work-progress -->
              </div>
              <!-- //.details-wrapper -->
            </div>
            <!-- //tab-pane -->

            <!-- ========== TAB PANE ========== -->
            <div role="tabpanel" class="tab-pane" id="development">
              <div class="details-wrapper">
                <div class="details">
                  <p>
                    Development ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam. quis nostrud
                    exercitation ullamco.
                  </p>
                  <p>
                    Laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore.eu
                  </p>
                </div>
                <!-- //details -->
                <div class="work-progress">
                  <div class="each-item">
                    <div
                      data-value="0.705"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">HTML</p>
                  </div>
                  <div class="each-item">
                    <div
                      data-value="0.50"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">WORDPRESS</p>
                  </div>
                  <div class="each-item">
                    <div
                      data-value="0.909"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">JAVASCRIPT</p>
                  </div>
                </div>
                <!-- //.work-progress -->
              </div>
              <!-- //.details-wrapper -->
            </div>
            <!-- //tab-pane -->

            <!-- ========== TAB PANE ========== -->
            <div role="tabpanel" class="tab-pane" id="branding">
              <div class="details-wrapper">
                <div class="details">
                  <p>
                    Branding ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam. quis nostrud exercitation
                    ullamco.
                  </p>
                  <p>
                    Laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore.eu
                  </p>
                </div>
                <!-- //details -->
                <div class="work-progress">
                  <div class="each-item">
                    <div
                      data-value="0.705"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">HTML</p>
                  </div>
                  <div class="each-item">
                    <div
                      data-value="0.50"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">WORDPRESS</p>
                  </div>
                  <div class="each-item">
                    <div
                      data-value="0.909"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">JAVASCRIPT</p>
                  </div>
                </div>
                <!-- //.work-progress -->
              </div>
              <!-- //.details-wrapper -->
            </div>
            <!-- //tab-pane -->

            <!-- ========== TAB PANE ========== -->
            <div role="tabpanel" class="tab-pane" id="marketing">
              <div class="details-wrapper">
                <div class="details">
                  <p>
                    Marketing ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam. quis nostrud
                    exercitation ullamco.
                  </p>
                  <p>
                    Laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore.eu
                  </p>
                </div>
                <!-- //details -->
                <div class="work-progress">
                  <div class="each-item">
                    <div
                      data-value="0.705"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">HTML</p>
                  </div>
                  <div class="each-item">
                    <div
                      data-value="0.50"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">WORDPRESS</p>
                  </div>
                  <div class="each-item">
                    <div
                      data-value="0.909"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">JAVASCRIPT</p>
                  </div>
                </div>
                <!-- //.work-progress -->
              </div>
              <!-- //.details-wrapper -->
            </div>
            <!-- //tab-pane -->

            <!-- ========== TAB PANE ========== -->
            <div role="tabpanel" class="tab-pane" id="support">
              <div class="details-wrapper">
                <div class="details">
                  <p>
                    Support ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam. quis nostrud exercitation
                    ullamco.
                  </p>
                  <p>
                    Laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore.eu
                  </p>
                </div>
                <!-- //details -->
                <div class="work-progress">
                  <div class="each-item">
                    <div
                      data-value="0.705"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">HTML</p>
                  </div>
                  <div class="each-item">
                    <div
                      data-value="0.50"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">WORDPRESS</p>
                  </div>
                  <div class="each-item">
                    <div
                      data-value="0.909"
                      data-thickness="10"
                      class="circle circle-red"
                    >
                      <span></span>
                    </div>
                    <p class="title">JAVASCRIPT</p>
                  </div>
                </div>
                <!-- //.work-progress -->
              </div>
              <!-- //.details-wrapper -->
            </div>
            <!-- //tab-pane -->
          </div>
          <!-- //tab-content -->
        </div>
      </div>
      <!-- //.row -->
    </div>
    <!-- //tabbed-about-us -->
  </div>
  <!-- //container -->
</section>
<!-- //End About us -->
