<nav class="navbar navbar-expand-lg bg-primary fixed-top" color-on-scroll="500">
  <div class="container">
    <a
      class="logo-container"
      href="
  /"
      ><img class="navbar-logo" src="./assets/img/logo1.png"
    /></a>
    <div class="dropdown button-dropdown">
      <div ngbDropdown>
        <a class="dropdown-toggle" ngbDropdownToggle>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
        </a>
        <div ngbDropdownMenu>
          <a class="dropdown-header">Saraya tech Solutions</a>
          <a class="dropdown-item" href="#">Software Development</a>
          <a class="dropdown-item" href="#">Cloud Solutions</a>
          <a class="dropdown-item" href="#">IT Consulting</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Business Intelligence</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Manage IT Services</a>
        </div>
      </div>
    </div>
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        href="/"
        placement="bottom"
        ngbTooltip="Designed by STS. Coded by DKR Team"
      >
        SARAYA TECH
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div
      class="collapse navbar-collapse"
      data-nav-image="assets/img/blurred-image-1.jpg"
      data-color="orange"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" target="_blank">
            <i class="now-ui-icons house-2"></i>
            <p>Home</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="resources" target="_blank">
            <i class="now-ui-icons arrows-1_cloud-download-93"></i>
            <p>Resources</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about-us" target="_blank">
            <i class="now-ui-icons location_world"></i>
            <p>About Us</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="corporate-careers-overview" target="_blank">
            <i class="now-ui-icons files_paper"></i>
            <p>Careers/Jobs</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-neutral" href="contact" target="_blank">
            <i class="now-ui-icons ui-1_email-85"></i>
            <p>Contact US</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Follow us on Twitter"
            data-placement="bottom"
            href="https://twitter.com/CreativeTim"
            target="_blank"
          >
            <i class="fab fa-twitter"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Like us on Facebook"
            data-placement="bottom"
            href="https://www.facebook.com/CreativeTim"
            target="_blank"
          >
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Follow us on Instagram"
            data-placement="bottom"
            href="https://www.instagram.com/CreativeTimOfficial"
            target="_blank"
          >
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
