<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/imgD.jpeg')"
    ></div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">This is our great company.</h1>
        <div class="text-center">
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Who we are?</h2>
          <h5 class="description">
            According to the National Oceanic and Atmospheric Administration,
            Ted, Scambos, NSIDClead scentist, puts the potentially record low
            maximum sea ice extent tihs year down to low ice extent in the
            Pacific and a late drop in ice extent in the Barents Sea.
          </h5>
        </div>
      </div>
      <div class="separator separator-primary"></div>
      <div class="section-story-overview">
        <div class="row">
          <div class="col-md-6">
            <div
              class="image-container image-left"
              style="background-image: url('assets/img/imgC.jpeg')"
            >
              <!-- First image on the left side -->
              <p class="blockquote blockquote-primary">
                Welcome to SarayaTech Solutions, where cutting-edge technology
                meets exceptional service. Our mission is to drive your business
                forward with tailored IT solutions that enhance efficiency,
                security, and growth.
                <br />
                <br />
                <small>-Saraya Tech Solution</small>
              </p>
            </div>
            <!-- Second image on the left side of the article -->
            <div
              class="image-container"
              style="background-image: url('assets/img/imgB.jpeg')"
            ></div>
          </div>
          <div class="col-md-5">
            <!-- First image on the right side, above the article -->
            <div
              class="image-container image-right"
              style="background-image: url('assets/img/imgA.jpeg')"
            ></div>
            <h3>
              So what does working with Saraya Tech Solution actually mean
            </h3>
            <p>
              Lorem ip every winter and much of the sea-ice then thaws every
              summer, and that process will continue whatever happens with
              climate change. Even if the Arctic continues to be one of the
              fastest-warming regions of the world, it will always be plunged
              into bitterly cold polar dark every winter. And year-by-year, for
              all kinds of natural reasons, there’s huge variety of the state of
              the ice.
            </p>
            <p>
              For a start, it does not automatically follow that a record amount
              of ice will melt this summer. More important for determining the
              size of the annual thaw is the state of the weather as the
              midnight sun approaches and temperatures rise. But over the more
              than 30 years of satellite records, scientists have observed a
              clear pattern of decline, decade-by-decade.
            </p>
            <p>
              The Arctic Ocean freezes every winter and much of the sea-ice then
              thaws every summer, and that process will continue whatever
              happens with climate change. Even if the Arctic continues to be
              one of the fastest-warming regions of the world, it will always be
              plunged into bitterly cold polar dark every winter. And
              year-by-year, for all kinds of natural reasons, there’s huge
              variety of the state of the ice.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- History -->

<div id="parallax-world-of-ugg">
  <section>
    <div class="title">
      <h3>Milestones and Achievements</h3>
      <h1>OUR STORY</h1>
    </div>
  </section>

  <section>
    <div class="parallax-one">
      <h2>COLUMBUS OHIO</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p>
        <span class="first-character sc">F</span>ounded in 2018, SarayaTech
        solutions was built on a passion for technology and a commitment to
        helping businesses thrive in a digital world. With a team of dedicated
        professionals, we offer innovative IT solutions that drive success. We
        offer talent, technology, and training solutions that drive
        transformation and enable you to achieve your business goals.
      </p>
      <p class="line-break margin-top-10"></p>
      <p class="margin-top-10">
        From our humble beginnings as a small startup, we have rapidly grown
        into a leading player in the tech industry. Our journey has been marked
        by continuous improvement, groundbreaking projects, and a relentless
        pursuit of excellence.
      </p>
    </div>
  </section>

  <section>
    <div class="parallax-two">
      <h2>PARIS</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p>
        <span class="first-character ny">I</span>n the early days, our dedicated
        team focused on creating robust software solutions tailored to the needs
        of our clients. As we expanded, we diversified our offerings, venturing
        into new areas such as artificial intelligence, cloud computing, and
        cybersecurity. This strategic growth has enabled us to stay ahead of the
        curve and deliver comprehensive services that address the complex
        challenges of the digital age.
      </p>
      <p class="line-break margin-top-10"></p>
      <p class="margin-top-10">
        Our success is built on a foundation of strong client relationships and
        a deep understanding of the markets we serve. By listening to our
        clients and anticipating their needs, we have been able to provide
        innovative solutions that drive their success. Our talented team of
        experts, who bring a wealth of knowledge and experience to the table, is
        the cornerstone of our achievements.
      </p>
    </div>
  </section>

  <section>
    <div class="parallax-three">
      <h2>DAKAR</h2>
    </div>
  </section>

  <section>
    <div class="block">
      <p>
        <span class="first-character atw">A</span>s we look to the future, our
        mission remains clear: to drive technological advancements and deliver
        unparalleled value to our clients. We are committed to fostering a
        culture of innovation, investing in cutting-edge research and
        development, and empowering our team to achieve their full potential. At
        SarayaTech Solutions, we believe that our best days are still ahead, and
        we are excited to embark on this journey with our clients, partners, and
        stakeholders.
      </p>
      <p class="line-break margin-top-10"></p>
      <p class="margin-top-10">
        We are proud of the milestones we have achieved, but we are even more
        excited about the future. Our vision is to continue pushing the
        boundaries of technology, exploring new frontiers, and making a positive
        impact on the world.
      </p>
    </div>
  </section>
</div>
<!-- <div class="section section-team text-center">
    <div class="container">
      <h2 class="title">Here is our team</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <img
                src="assets/img/img1.jpeg"
                alt="Thumbnail Image"
                class="rounded-circle img-fluid img-raised"
              />
              <h4 class="title">Cheikh Tidjani</h4>
              <p class="category text-primary">Senior Manager</p>
              <p class="description">
                You can write here details about one of your team members. You
                can give more details about what they do. Feel free to add some
                <a href="#">links</a> for people to be able to follow them
                outside the site.
              </p>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"
                ><i class="fab fa-facebook-square"></i
              ></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img
                src="assets/img/img1.jpeg"
                alt="Thumbnail Image"
                class="rounded-circle img-fluid img-raised"
              />
              <h4 class="title">Becaye</h4>
              <p class="category text-primary">Designer</p>
              <p class="description">
                You can write here details about one of your team members. You
                can give more details about what they do. Feel free to add some
                <a href="#">links</a> for people to be able to follow them
                outside the site.
              </p>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"
                ><i class="fab fa-twitter"></i
              ></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"
                ><i class="fab fa-linkedin"></i
              ></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img
                src="assets/img/img1.jpeg"
                alt="Thumbnail Image"
                class="rounded-circle img-fluid img-raised"
              />
              <h4 class="title">Pape Saloum</h4>
              <p class="category text-primary">Developer</p>
              <p class="description">
                You can write here details about one of your team members. You
                can give more details about what they do. Feel free to add some
                <a href="#">links</a> for people to be able to follow them
                outside the site.
              </p>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"
                ><i class="fab fa-google-plus"></i
              ></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"
                ><i class="fab fa-youtube"></i
              ></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"
                ><i class="fab fa-twitter"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- <div class="vl"></div> -->
<!-- <div class="section section-contact-us text-center"> -->
<!-- <div class="container">
    <h2 class="title">Want to work with us?</h2>
    <p class="description">Your project is very important to us.</p>
    <div class="row">
      <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
        <div class="input-group input-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="now-ui-icons users_circle-08"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Left Font Awesome Icon"
            (focus)="focus = true"
            (blur)="focus = false"
          />
        </div>
        <div class="input-group input-lg">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="now-ui-icons ui-1_email-85"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Left Font Awesome Icon"
            (focus)="focus1 = true"
            (blur)="focus1 = false"
          />
        </div>
        <div class="textarea-container">
          <textarea
            class="form-control"
            name="name"
            rows="4"
            cols="80"
            placeholder="Type a message..."
          ></textarea>
        </div>
        <div class="send-button">
          <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg"
            >Send Message</a
          >
        </div>
      </div>
    </div>
  </div> -->
<!-- map setup -->
<!-- </div> -->
